<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>	

<table  style="border: 1;width:100%;cellspacing:0;word-wrap: break-word;">
  <tr>
    <td colspan="2" align="center"><img th:src="${header_correo}" width="100%" height="140px" alt="header"/></td>
  </tr>
  <tr>
    <td height="15px" colspan="2" align="center"  bgcolor="#004063">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" align="center"><strong><h2><span th:text="${nombre_plataforma}"></span></h2></strong></td>
  </tr>
  <tr>
    <td colspan="2" align="left">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" align="justify">Estimada/o  <strong><span th:text="${nombre}"></span></strong></td>
  </tr>
  <tr>
    <td colspan="2" align="justify">El ISSSTEP le da la bienvenida a la <span th:text="${nombre_plataforma}"></span>.</td>
  </tr>
  <tr>
    <td colspan="2" align="left">&nbsp;</td>
  </tr>
  
  <tr>
    <td colspan="2" align="left">&nbsp;</td>
  </tr>
  <tr align="center">
    <td colspan="2" align="justify">Usuario: <strong><span th:text="${usuario}"></span></strong></td>
  </tr>
  <tr>
    <td colspan="2" align="left">&nbsp;</td>
  </tr>
   <tr align="center">
    <td colspan="2" align="justify">Para activar su cuenta, haga clic en el siguiente enlace : </td>
  </tr>
    <tr>
    <td colspan="2" align="left">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" align="justify"><strong><span th:text="${urlConfirmacionCorreo}"></span></strong></td>
  </tr>
  <tr>
    <td colspan="2" align="justify"><strong>Si no puede acceder a él, copie y pegue la URL completa en su navegador Chrome.</strong></td>
  </tr>
  <tr>
    <td colspan="2" align="left">&nbsp;</td>
  </tr>
  
  <tr>
    <td height="auto" colspan="2" align="justify">No responda éste correo electrónico, ya que ha sido generado automáticamente. Para ponerse en contacto con nosotros, vaya al sitio e inicie sesión; haga clic en su nombre de Usuario en la parte superior derecha, y luego clic en <i>Contacto</i>.</td>
  </tr>
  
  <tr>
    <td colspan="2" align="left">&nbsp;</td>
  </tr>
  
  <tr>
    <td colspan="2" bgcolor="#CCCCCC" ></td>
  </tr>

	<tr>
    <td></td>				
	<td style="height:40px;text-align:right;">
	<img th:src="${logo1}" alt="logo1"  height=100%>&nbsp;&nbsp;
	<img th:src="${logo2}" alt="logo2"  height=100%>&nbsp;&nbsp;
	<br>
	</td>
  	</tr>
  
</table>

</body>
</html>
