<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>	

<table  style="border: 1;width:100%;cellspacing:0;word-wrap: break-word;">
  <tr>
    <td colspan="2" align="center"><img th:src="${header_correo}" width="280px" height="140px" alt="header"/></td>
  </tr>
  <tr>
    <td height="15px" colspan="2" align="center"  bgcolor="#004063">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" align="center"><strong><h2><span th:text="${nombre_plataforma}"></span></h2></strong></td>
  </tr>
  <tr>
    <td colspan="2" align="left">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" align="justify">Estimada/o  <strong><span th:text="${nombre}"></span></strong></td>
  </tr>
  <tr>
    <td colspan="2" align="left">&nbsp;</td>
  </tr>
  
  <tr>
    <td colspan="2" align="left">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" align="justify"><strong><span >Le informamos que ha sido enviada la informaci&oacute;n que Ud. a adjuntado a nuestra plataforma. Esta ser&aacute; analizada para determinar su pre-afiliaci&oacute;n al Instituto.</span></strong></td>
  </tr>
  <tr>
    <td colspan="2" align="justify"><strong><span>Le solicitamos este al pendiente ingresando nuevamente a la misma para verificar el avance de dicho proceso.</span></strong></td>
  </tr>
  <tr>
    <td colspan="2" align="left">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" align="left">&nbsp;</td>
  </tr>
  <tr>
    <td height="auto" colspan="2" align="justify">No responda este correo electr&oacute;nico, ya que ha sido generado autom&aacute;ticamente. Para ponerse en contacto con nosotros, vaya al sitio http://preafiliacion.issstep-puebla.mx e inicie sesi&oacute;n; haga click en su nombre de Usuario en la parte superior derecha, y luego click en <i>Contacto</i>.</td>
  </tr>
  
  <tr>
    <td colspan="2" align="left">&nbsp;</td>
  </tr>
  
  <tr>
    <td colspan="2" bgcolor="#CCCCCC" ></td>
  </tr>

	<tr>
    <td></td>				
	<td style="height:40px;text-align:right;">
	</td>
  	</tr>
  
</table>

</body>
</html>
